<div class="container">
  <h1>GitHub Search Autocomplete PoC</h1>
  <p>
    This is a proof-of-concept application intended to demonstrate autocomplete functionality by using
    GitHub's search API. Type to search GitHub repositories, and autocomplete suggestions will appear
    after the query exceeds 3 letters.
  </p>

  <div class="demo">
    <input id="search_textbox" class="typeahead" type="text" placeholder="Search GitHub repositories...">
  </div>
</div>
